@import "tailwindcss";


  .light-bg{
    color: rgba(15, 15, 15, 0.727);
  }
  .darkTheme{
    padding-bottom: 2.5rem; 
  top: 0;              
  z-index: -2;            
  color: #fafafa;        
  height: 100%;           
  width: 100%;           
  background-color: #0a0a0a; 
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
  }

  .lightTheme{
    .my-class {
  top: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
}
  }

.container {
  height: 100vh;
  padding: 20px;
  transition: 0.3s;
  background-color: white;
  color: black;
}

.container.dark {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
}
